.comments {
  margin-bottom: 15px;
  overflow: hidden;
}
  .comments .show-comments {
    /*border: 1px solid #eeeeee;
    background-color: #eeeeee;
    border-radius: 6px;*/
    margin-top: 20px;
  }
    .comments .show-comments a {
      display: block;
      padding: 10px 0 10px 10px;
      line-height: 25px;
      font-weight: 600;
      font-size: 20px;
      color: #333;
    }
      .comments .show-comments a:hover {
        text-decoration: none;
      }
  .comments .nospace {
    font-size: 0;
  }
  .comments .comments-header .hide-comments {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    float: right;
    margin: 0;
    top: 8px;
  }
    .comments .comments-header .hide-comments a {
      font-weight: 400;
      font-size: 13px;
      color: #777;
    }
      .comments .comments-header .hide-comments a i {
        font-weight: 400;
        font-size: 10px;
      }
      .comments .comments-header .hide-comments a:hover {
        text-decoration: none;
        color: #333;
      }
  .comments .comments-header h2 {
    padding-bottom: 10px;
    margin: 2px 0 10px;
    font-size: 20px;
  }
    .comments .comments-header h2 small {
      display: inline-block;
      font-size: 16px;
      margin: 0 10px;
    }
  .comments .comments-input {
    margin: 0; }
    .comments .comments-input .disabled-form {
      background-color: #eeeeee;
      border-radius: 6px;
      text-align: left;
      font-size: 14px;
      margin: 10px 0;
      padding: 15px;
      color: #555;
    }
    .comments .comments-input .comments-alert {
      margin: 15px 0 30px 0;
    }
    .comments .comments-input .media-object {
      height: 64px;
      width: 64px;
    }
    .comments .comments-input .without-image {
      background-color: #eeeeee;
      color: #aaaaaa;
      font-size: 22px;
      line-height: 64px;
      text-align: center;
      border-radius: 5px;
    }
    .comments .comments-input .img-rounded {
      border-radius: 5px;
    }
      .comments .comments-input .without-image:before {
        cursor: default;
        content: "\e008";
        font-family: Glyphicons Halflings;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
      }
    .comments .comments-input .media-body {
      font-size: 14px !important;
      padding: 0 10px;
    }
      .comments .comments-input .media-body textarea {
        resize: vertical;
        height: 64px;
      }
      .comments .comments-input .media-body .media-buttons {
        display: none;
      }
        .comments .comments-input .media-body .media-buttons .user-data {
          word-break: break-all;
          font-size: 14px;
        }
        .comments .comments-input .media-body .media-buttons button {
          padding: 5px 10px;
          font-size: 12px;
          line-height: 1.5;
          border-radius: 3px;
        }
          .comments .comments-input .media-body .media-buttons button:first-child {
            margin: 0 5px 0 0;
          }
      .comments .comments-input .media-body .active-media-buttons {
        display: block;
      }

      .media-body .media {
        margin-left: 50px;
      }

      .media .media-container {
        width: 100%;
      }

      .media-container .media-left {
        float: left;
      }

      .media-body .media-info {
        padding-left: 75px;
      }

  @media (max-width: 767px) {
    .comments .comments-input {
      margin: 0;
    }
      .comments .comments-input .disabled-form {
        font-size: 13px;
      }
      .comments .comments-input .comments-alert {
        margin: 15px 0 15px 0;
      }
      .comments .comments-input .media-object {
        height: 32px;
        width: 32px;
      }
      .comments .comments-input .without-image {
        background-color: #eeeeee;
        color: #aaaaaa;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
      }
        .comments .comments-input .without-image:before {
          cursor: default;
          content: "\e008";
          font-family: Glyphicons Halflings;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
        }
      .comments .comments-input .media-body {
        font-size: 11px !important;
      }
        .comments .comments-input .media-body textarea {
          resize: vertical;
          font-size: 13px;
          height: 32px;
        }
        .comments .comments-input .media-body .media-buttons {
          display: none;
        }
          .comments .comments-input .media-body .media-buttons .user-data {
            word-break: break-all;
            font-size: 11px;
          }
          .comments .comments-input .media-body .media-buttons button {
            padding: 1px 5px;
            font-size: 12px;
            line-height: 1.5;
            border-radius: 3px;
          }
            .comments .comments-input .media-body .media-buttons button:first-child {
              margin: 0 5px 0 0;
            }
        .comments .comments-input .media-body .active-media-buttons {
          display: block; 0
          }
        }
  @media (min-width: 768px) and (max-width: 991px) {
    .comments .comments-input {
      margin: 0;
    }
      .comments .comments-input .comments-alert {
        margin: 15px 0 30px 0;
      }
      .comments .comments-input .media-object {
        height: 48px;
        width: 48px;
      }
      .comments .comments-input .without-image {
        background-color: #eeeeee;
        color: #aaaaaa;
        font-size: 20px;
        line-height: 48px;
        text-align: center;
      }
        .comments .comments-input .without-image:before {
          cursor: default;
          content: "\e008";
          font-family: Glyphicons Halflings;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
        }
      .comments .comments-input .media-body {
        font-size: 12px !important;
        padding: 0 10px;
      }
        .comments .comments-input .media-body textarea {
          resize: vertical;
          height: 48px;
        }
        .comments .comments-input .media-body .media-buttons {
          display: none;
        }
          .comments .comments-input .media-body .media-buttons .user-data {
            word-break: break-all;
            font-size: 12px;
          }
          .comments .comments-input .media-body .media-buttons button {
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5;
            border-radius: 3px;
          }
            .comments .comments-input .media-body .media-buttons button:first-child {
              margin: 0 5px 0 0;
            }
        .comments .comments-input .media-body .active-media-buttons {
          display: block;
          }
        }
  .comments .comments-list .media:first-child {
    margin-top: 15px;
  }
  .comments .comments-list .media-object {
    height: 64px;
    width: 64px;
  }
  .comments .comments-list .without-image {
    background-color: #eeeeee;
    color: #aaaaaa;
    font-size: 22px;
    line-height: 64px;
    text-align: center;
  }
  .comments .comments-list .img-rounded {
    border-radius: 50%;
  }
    .comments .comments-list .without-image:before {
      cursor: default;
      content: "\e008";
      font-family: Glyphicons Halflings;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
    }
  .comments .comments-list .media-body h4 small {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    color: #777;
    margin: 0;
  }
  .comments .comments-list .media-body .comment-info {
    margin: 5px 0 0 0;
  }
    .comments .comments-list .media-body .comment-info .comment-reply {
      display: inline-block;
      margin: 0 10px 0 0;
      font-size: 12px;
    }
    .comments .comments-list .media-body .comment-info .comment-rating {
      display: inline-block;
    }
      .comments .comments-list .media-body .comment-info .comment-rating .thumbs-up {
        display: inline-block;
        font-weight: 500;
        font-size: 11px;
        margin: 0 0 0 15px;
        color: #777;
      }
      .comments .comments-list .media-body .comment-info .comment-rating .score {
        display: inline-block;
        font-weight: 500;
        font-size: 11px;
        color: #777777;
        margin: 0;
      }
        .comments .comments-list .media-body .comment-info .comment-rating .score .good {
          color: #00540a;
        }
        .comments .comments-list .media-body .comment-info .comment-rating .score .bad {
          color: #c9302c;
        }
      .comments .comments-list .media-body .comment-info .comment-rating .thumbs-down {
        display: inline-block;
        font-weight: 500;
        font-size: 11px;
        margin: 0 0 0 15px;
        color: #777;
      }
      .comments .comments-list .media-body .comment-info .comment-rating .rated a {
        color: #23527c;
      }
  @media (max-width: 767px) {
    .comments .comments-list .media:first-child {
      margin-top: 15px;
    }
    .comments .comments-list .media-object {
      height: 32px;
      width: 32px;
    }
    .comments .comments-list .without-image {
      background-color: #eeeeee;
      color: #aaaaaa;
      font-size: 16px;
      line-height: 32px;
      text-align: center;
    }
      .comments .comments-list .without-image:before {
        cursor: default;
        content: "\e008";
        font-family: Glyphicons Halflings;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
      }
    .comments .comments-list .media-body {
      font-size: 13px;
    }
      .comments .comments-list .media-body h4 small {
        position: relative;
        font-weight: 500;
        font-size: 10px;
        color: #777;
        margin: 0;
      }
      .comments .comments-list .media-body .media-heading {
        font-size: 13px;
      }
      .comments .comments-list .media-body .comment-info {
        margin: 5px 0 0 0;
      }
        .comments .comments-list .media-body .comment-info .comment-reply {
          display: inline-block;
          margin: 0 10px 0 0;
          font-size: 12px;
        }
        .comments .comments-list .media-body .comment-info .comment-rating {
          display: inline-block;
        }
          .comments .comments-list .media-body .comment-info .comment-rating .thumbs-up {
            display: inline-block;
            font-weight: 500;
            font-size: 11px;
            margin: 0 0 0 15px;
            color: #777;
          }
          .comments .comments-list .media-body .comment-info .comment-rating .score {
            display: inline-block;
            font-weight: 500;
            font-size: 11px;
            color: #777;
            margin: 0;
          }
          .comments .comments-list .media-body .comment-info .comment-rating .thumbs-down {
            display: inline-block;
            font-weight: 500;
            font-size: 11px;
            margin: 0 0 0 15px;
            color: #777;
            }
          }
  @media (min-width: 768px) and (max-width: 991px) {
    .comments .comments-list .media:first-child {
      margin-top: 15px;
    }
    .comments .comments-list .media-object {
      height: 48px;
      width: 48px;
    }
    .comments .comments-list .without-image {
      background-color: #eeeeee;
      color: #aaaaaa;
      font-size: 20px;
      line-height: 48px;
      text-align: center;
    }
      .comments .comments-list .without-image:before {
        cursor: default;
        content: "\e008";
        font-family: Glyphicons Halflings;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
      }
    .comments .comments-list .media-body {
      font-size: 14px;
    }
      .comments .comments-list .media-body h4 small {
        position: relative;
        font-weight: 500;
        font-size: 11px;
        color: #777;
        margin: 0;
      }
      .comments .comments-list .media-body .media-heading {
        font-size: 14px;
      }
      .comments .comments-list .media-body .comment-info {
        margin: 5px 0 0 0;
      }
        .comments .comments-list .media-body .comment-info .comment-reply {
          display: inline-block;
          margin: 0 10px 0 0;
          font-size: 12px;
        }
        .comments .comments-list .media-body .comment-info .comment-rating {
          display: inline-block;
        }
          .comments .comments-list .media-body .comment-info .comment-rating .thumbs-up {
            display: inline-block;
            font-weight: 500;
            font-size: 12px;
            margin: 0 0 0 15px;
            color: #777;
          }
          .comments .comments-list .media-body .comment-info .comment-rating .score {
            display: inline-block;
            font-weight: 500;
            font-size: 12px;
            color: #777;
            margin: 0;
          }
          .comments .comments-list .media-body .comment-info .comment-rating .thumbs-down {
            display: inline-block;
            font-weight: 500;
            font-size: 12px;
            margin: 0 0 0 15px;
            color: #777;
            }
          }

/*# sourceMappingURL=comments.css.map */

.madia-forum .media-object {
  height: auto !important;
  width: 64px !important;
}
.comments .media-info {
  padding-bottom: 30px;
}
.madia-forum .media-body .media {
  margin-left: 0;
}

.media-left-forum {
  border-right: 1px solid #eee;
}
.topics-view .media {
  margin-top: 0;
  padding: 25px 25px 0;
  border-bottom: 1px solid #eee;
  background: #f9f9f9;
}
.topics-view .media:nth-child(2n-1) {
  background: #eee;
}

.comment-quote {
  font-size: 85%;
  padding: 8px 15px;
  background: #fff;
  width: fit-content;
  border: 1px solid #eee;
  margin-bottom: 10px;
}
.link-author a {
  color: #000;
  font-weight: 600;
  font-size: 85%;
}
.comment-quote .p_username {
  font-weight: 600;
}

.media .media {
  background: transparent;
  border: none;
}

.media .media .form-control {
  border: none;
  box-shadow: none;
  outline: none;
  padding: 15px 20px;
}

.forum_c-new-msgs,
.forum_c-total-msgs {
  font-weight: 500;
  color: #98a6ad;
  font-size: 80%;
  padding-left: 10px;
  margin-left: 5px;
  cursor: default;
  user-select: none;
}
.forum_c-new-msgs {
  border-left: 1px solid #ddd;
}
.forum_c-total-msgs {
  border-right: 1px solid #ddd;
  border-left: none;
  display: inline-block;
  width: 48px;
}
.forum_c-new-msgs b {
  background: #00000014;
  color: #f7931d;
  padding: 1px 4px 1px 4px;
  border-radius: 3px;
  font-weight: 500;
  text-shadow: 0 1px 1px #fff;
}
.topics_projects li:hover b {
  color: #f7931d;
}

.new-m {
  line-height: 2;
  color: #f7931d;
}

.no-border {
  border: none !important;
}
