.presentation-wrap img {
    /*width: 440px;*/
    margin: 0 10px 10px 0;
}

.present-main-img {
    width: 400px;
}

.presentation-wrap {
    text-align: justify;
}

.cat_main a{
	font-weight: bold
}
.cat_main div {
	padding-top: 10px;
}
.helpitnext > div {
	padding-top: 20px;
}
.helpitnext > div > div:first-child {
	color: black;
	font-weight: bold;
}
.helpitnext h4 {
	color: black;
	font-size: 15px;
	padding-top: 15px;
}